* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    min-width: 100vh;
}

/* bg */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1.1;
}

/* ly */
.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
}

.profile {
    width: 240px;
    padding: 30px;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

    border-radius: 16px;
    text-align: center;
}

.profile img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 15px;
}

.links {
    width: 100%;
    max-width: 600px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.links a {
    padding: 18px;
    text-align: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

    border-radius: 14px;

    color: #eee;
    text-decoration: none;

    transition: transform 0.2s ease, background 0.2 ease;
}

.links a:hover {
    transform: translateY(-4px);
    background: rgba(0, 0, 0, 0.75);
}

footer {
    font-size: 0.75rem;
    opacity: 0.6;
}

/* animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

section {
    animation: fadeUp 0.8s ease-in-out both;
    section:nth-of-type(1) { animation-delay: 0.1s; }
    section:nth-of-type(2) { animation-delay: 0.25s; }
    section:nth-of-type(3) { animation-delay: 0.4s; }

}